# Criptografía y Seguridad DNIe
cryptography>=41.0.0
python-pkcs11>=0.7.0
asn1crypto>=1.5.0

# Red, Serialización y Descubrimiento
zeroconf>=0.131.0
msgpack>=1.0.7

# Interfaces de Usuario (Consola y TUI)
rich>=13.7.0
prompt_toolkit>=3.0.36
